.labelDest{
	text-align: center;
}

.labelDest label{
	margin-top: 15px;
}

.has-error{
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.editarForm{
	background: #faebcc;
}

.encuestas-list{
	position: relative;
}
.encuestas-list button.btn-list{
	position: absolute;
	right: 10px;
	top: 10px;
}

.encuestas-list button.btn-clear{
	position: absolute;
	right: 10px;
	top: 50px;
}

.encuestas-list button.btn-home{
	position: absolute;
	left: 10px;
	top: 10px;
}

.encuestas-list .list{
	position: absolute;
	right: 10px;
	top: 50px;		
}

.encuestas-list .list .list-group-item{
	min-width: 180px;
}

.encuestas-list .list a{
	cursor: pointer;
}

.encuestas-list .list a:hover{
	background: #5bc0de;
	color: white;
}

.editMonitorEncuesta{
	float: right;
}